.calender-container {
    display: flex;
    flex: column;
    width: 100%;
}

.semester-container h1 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 2px;
    color: whitesmoke;
}

.semester-container{
    display: flex;
    flex-direction: column;
    border: 0.5px solid whitesmoke;
    width: 566px;
    width: 100%;
    padding: 20px;
    height: 220px;
    background-color: whitesmoke;
    box-shadow: none;

    background-color: #2A2B32;
}

.semester-container .course-selection {
    width: 100%;
    height: 30px;
    border: 0.5px solid black;
    background-color: whitesmoke;
    max-width: 800px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 0.1rem rgba(211, 211, 211, 0.5);
}

.warning-message {
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
}

.add-remove-container {
    display: flex;
    flex-direction: column;
}

.add-semester-button {
    background-color: white;
    border: 0.5px solid whitesmoke;
    height: 100%;
    width: 50px;
    font-weight: bold;
    background-color: #2A2B32;
    color: whitesmoke;
}

.add-semester-button:active {
    box-shadow: none;
    opacity: 0.7;
}

.change-year-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.add-year-button {
    background-color: white;
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    margin-top: 20px;
    color: black;
    font-weight:bold;
    margin-left: 20px;

}

.add-year-button:active {
    box-shadow: none;

    opacity: 0.7;
}
