.loader {
    border: 4px solid whitesmoke;
    border-left-color: transparent;
    border-radius: 50%;
}

.loader {
    border: 4px solid whitesmoke;
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    color: whitesmoke;
}

.loader {
    border: 4px solid whitesmoke;
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin: auto;
    margin-top: -20px;
}