
.subsections-container {
    border: 1px solid red;
    margin-right: 50px;
    padding: 10px;
    width: 100%;

}

.requirementHub-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
}


.concentration-container{
    width: 90%;
  }

.requirement-container {
    width: 95%;
    border: 4px solid green;
    padding: 10px;
  
}


.section-container, .ap-section-container, .nupath-section-container {
    font-size: 15px;
    border: 2px solid black;
    box-shadow: 10px 10px;
    margin-bottom: 20px;
    padding-left: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;  
}

.ap-section-container {
    background-color: #0096D6;
}

.nupath-section-container {
 
    line-height: 30px;
    padding-bottom: 10px;
}
  
  .section-container:hover {
    box-shadow: none;
    transform: translate(10px, 10px);
  }

.section-container span {
    height: 40px;
}