

/* 
==========================================
               Selection Bar 
==========================================
*/ 

.selection-container {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;

}

.requirements-bar {
  display: flex;
  flex-direction: column;
  border: 0.5px solid whitesmoke;
  height: 320px;

  margin-right: 5px;
  overflow:scroll;
  background-color: #efefee;


  padding: 5px;

    background-color: #2A2B32;
    color: lightgrey;


}

.requirements-bar h2 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.requirements-bar button {
  height: 150px;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 5px;
  border: 0.5px solid darkgrey;


    color: lightgrey;

}

.requirements-bar button:active {
  background-color: lightgrey;
}

.selection-bar {
    display: flex;
    margin-top: -11px;
} 
  

.section-bar {
    display:flex;
    flex-direction:row;
    width: 100%;

  }

  
.course-selection-container {
    border: 0.5px solid whitesmoke;
    padding: 40px;
    width: 100%;
    height: 250px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #efefee;


}
  
.course-selection-container h1 {
    margin-top: -20px;
    color: whitesmoke;
}

.nupath-selection-container {
    border: 0.5px solid black;
    padding: 40px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #efefee;

    width: 100%;
    height: 250px;
    overflow: scroll;

}

.nupath-selection-container h1 {
    margin-top: -20px;

}

.attribute-container {
    border: 0.5px solid black;
    padding: 4%;
    padding-top: 0%;
    background-color: white;
    box-shadow: 0 0.4rem black;
}

.attribute-container li{
    margin-left: -20px;
    font-size: 12px;
}

.attribute-container h3{
    font-size: 14px;
}

.nupath-contents-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
  
  

  

  

.calender-container {
    display: flex;
    flex: column;
    width: 100%;
}
  
.semester-container h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    color: whitesmoke;
}
  
.semester-container{
    display: flex;
    flex-direction: column;
    border: 0.5px solid whitesmoke;
    width: 566px;
    width: 100%;
    padding: 20px;
    height: 250px;
    background-color: whitesmoke;
    box-shadow: none;

    background-color: #2A2B32;
}
  



.semester-container .course-selection {
    width: 100%;
    height: 30px;
    border: 0.5px solid black;
    background-color: whitesmoke;
    max-width: 800px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 0.1rem rgba(211, 211, 211, 0.5);





}

.warning-message {
    font-size: 10px;
    text-align: center;
}

.course-selection:hover .warning-message {
    visibility: visible;
}


  
  .add-remove-container {
    display: flex;
    flex-direction: column;
  }
  
  .add-semester-button {
    background-color: white;
    border: 0.5px solid whitesmoke;
    height: 100%;
    width: 50px;
    font-weight: bold;
      background-color: #2A2B32;
      color: whitesmoke;
  }
  
  .add-semester-button:active {
    box-shadow: none;
    opacity: 0.7;
  }
  
  
  
  .change-year-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
  }
  
  .add-year-button {
    background-color: white;
    border: 0.5px solid whitesmoke;
    width: 500px;
    height: 50px;
    margin-top: 20px;
      background-color: #2A2B32;
      color: whitesmoke;
    font-weight:bold;
    margin-left: 20px;

    
  }
  
  .add-year-button:active {
    box-shadow: none;

    transform: translate(2px, 2px);
  }
  
  
.year-header {
    background-color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 0.4rem #dfd9d9;
    border: 0.5px solid black;
    height: 40px;

}
  
  .year-header:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }



.course-container {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 850px;
}

.course {
  width: 100%;
}






/* 
==========================================
               Buttons
==========================================
*/ 


.courses-container button {
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 0.5px solid black;
    box-shadow: 0 0.1rem black;
    font-size: 12px;
    padding: 10px;

    
}

.trash-button {
    background-color: whitesmoke;
    border: 0.5px solid black;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px;
    margin-left: 10px;
    box-shadow: 0 0.1rem rgba(211, 211, 211, 0.5);
}

.trash-button:active {
    transform: translate(2px, 2px);
}





.selection-bar button:hover {
    cursor: pointer;
}




.selection-button {
    border: 0.5px solid black;
    box-shadow: 2px 2px
}

.selection-button:active {
    background-color: lightgrey;
}



.generate-schedule-button {
  width: 90%;
  max-width: 850px;
  background-color: white;
  height: 30px;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  box-shadow: 0 0.2rem rgba(211, 211, 211, 0.5);
 
}

.generate-schedule-button:active {
  background-color: lightgrey;
  transform: translate(2px, 2px);
}





