


/* 
==========================================
               Selection Bar 
==========================================
*/ 

.selection-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.requirements-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 460px;
  box-shadow: 2px 2px;
  margin-right: 5px;
  overflow:scroll;
  background-color: #efefee;
  padding: 5px;

  

}

.requirements-bar h2 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.requirements-bar button {
  outline: 2px solid black;
  height: 150px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.requirements-bar button:active {
  background-color: lightgrey;
}

.selection-bar {
    display: flex;
    margin-top: -11px;
} 
  

.section-bar {
    display:flex;
    flex-direction:row;
    width: 100%;

  }

  
.course-selection-container {
    border: 1px solid black;
    box-shadow: 2px 2px;
    padding: 40px;
    width: 100%;
    height: 380px;
    box-shadow: 2px 2px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #efefee;
}
  
.course-selection-container h1 {
    margin-top: -20px;
}
  
  

  

  

.calender-container {

    display: flex;
    flex: column;
    width: 100%;
}
  
.semester-container h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  
}
  
.semester-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 566px;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px;
    height: 350px;
}
  

.semester-container h1 {
    margin-top: 0px;
}

.semester-container .course-selection {
    width: 100%;
    height: 50px;
    font-weight: bold;
    box-shadow: 2px 2px;
    border: 1px solid black;
    background-color: white;
    max-width: 800px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}


  
  .add-remove-container {
    display: flex;
    flex-direction: column;
  }
  
  .add-semester-button {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px;
    height: 100%;
    width: 50px;
    font-weight: bold;
  }
  
  .add-semester-button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }
  
  
  
  .change-year-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
  }
  
  .add-year-button {
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 50px;
    margin-top: 30px;
    box-shadow: 2px 2px;
    font-weight:bold;
    margin-left: 20px;
    
  }
  
  .add-year-button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }
  
  
  .year-header {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    box-shadow: 2px 2px;
    border: 1px solid black;
    height: 40px;
  

  }
  
  .year-header:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }



.course-container {
    display: flex;
    margin: auto;
    width: 100%;
   
    max-width: 850px;
    
}

.course {
  width: 100%;
}




/* 
==========================================
               Buttons
==========================================
*/ 


.courses-container button {
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
}

.trash-button {
    background-color: white;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px;
    margin-left: 10px;
}

.trash-button:active {
    transform: translate(2px, 2px);
}





.selection-bar button:hover {
cursor: pointer;
}

.left-button, .right-button {
    border: 1px solid black;
    box-shadow: 2px 2px;
    width: 50px;
    height: 436px;
    font-weight: bold;
}
  
.left-button:active, .right-button:active {
    cursor: pointer;
    box-shadow: none;
    background-color: lightgrey;
    transform: translateY(2px);
}

.left-button:active {
    transform: translateX(2px);
}

.right-button:active {
    transform: translateX(-2px);
}

.selection-button {
    border: 1px solid black;
    box-shadow: 2px 2px
}

.selection-button:active {
    background-color: lightgrey;
}



.generate-schedule-button {
  width: 90%;
  max-width: 850px;
  background-color: white;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
 
}

.generate-schedule-button:active {
  background-color: lightgrey;
  transform: translate(2px, 2px);
}


