


.profile-container{
    border: 0.5px solid whitesmoke;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    color: whitesmoke;
}
  
.profile-container button{
    border: 0.5px solid whitesmoke;
    box-shadow: 0px 1px;
    margin-right: 5px;
    background-color: #2A2B32;
    color: whitesmoke;
}
  
.profile-container button:active {
    box-shadow: none;
    transform: translate(0px, 2px);
}

.profile-container input {
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    box-shadow: 0px 1px;
}


.selected {
    background-color: whitesmoke;
    color: black;
}