


.profile-container{
    border: 0.5px solid whitesmoke;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    color: whitesmoke;
}
  
.profile-container button{
    border: 0.5px solid whitesmoke;
    box-shadow: 0px 1px;
    margin-right: 5px;
    background-color: #2A2B32;
    color: whitesmoke;
}
  
.profile-container button:active {
    box-shadow: none;
    transform: translate(0px, 2px);
}

.profile-container input {
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    box-shadow: 0px 1px;
}


.selected {
    background-color: whitesmoke;
    color: black;
}

.reset-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.reset-container label {
    font-size: 14px;
}



#reset-button {
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
    width: 200px;
    padding: 0.5%;
    text-align: center;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
}

#reset-button:active {
    opacity: 0.7;
}