
.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;

}

.results-container .transfer-container {
    height: 100%;

}

.description-container {
    border: 0.5px solid whitesmoke;
    padding: 16px;
    color: whitesmoke;
    margin-bottom: 0.5%;
}


/**
Search Bar and AP Courses Section
 */
.transfer-container {
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    padding: 16px;
}

.transfer-container input {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    width: 490px;
    height: 30px;
    font-size: 20px;
}

.ap-courses-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
    height: 470px;
}

.ap-courses-container button {
    width: 490px;
    background-color: whitesmoke;
    background-color: #87CEFA;
    color: black;
    border: 0.5px solid whitesmoke;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;

}

.ap-courses-container button:hover {
    opacity: 0.7;
}

/**
Results Table Section
 */
.results-container {
    border: 0.5px solid whitesmoke;
    padding: 16px;
    width: 100%;
    color: whitesmoke;
    height: fit-content;
}

.results-container h2 {


}

.results-table {
    width: 100%;
}

.results-container table {
    background-color: whitesmoke;
    color: black !important;
    height: 490px;
}

.results-container table th {
    background-color: whitesmoke;
    font-size: 12px;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
    outline: 2px solid black;
}

.results-container tr {
    color: black;
    outline: 1px solid black;
    height: 10px;
}

.results-container button {
    margin-top: 1.5%;
    border: 0.5px solid black;
    border-radius: 5px;
    color: black;
    width: 100%;
    height: 30px;
    font-size: 18px;
    background-color: whitesmoke;
}

.results-container button:active {
    opacity: 0.7;
}


