* {
  font-family: verdana;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Consolas', monospace;
  
}



button:hover {
  cursor: pointer;
}


#hub {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.home{
  text-align: center;
  
}

.header-container {
  display: flex;
  
  text-align: center;
  width: 700px;
  padding: 20px;
  margin: auto;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: -30px;
}

.navigation-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: center;
  margin-bottom:  -80px;
  margin-top: -90px;
  border: 1px solid black;
  
}

.navigation-bar button {
  width: 400px;
  height: 50px;
  padding: 10px;
  box-shadow: 2px 2px;
  margin: 0px;
  font-size: 20px;
  border: 1px solid black;
  font-weight: bold;
}

.navigation-bar button:active  {
  cursor: pointer;
  box-shadow: none;
  
  transform: translate(5px, 5px);
 
}

.button-link, .button-link-active {
  margin: 80px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: bold;
}

.button-link-active {
  text-decoration: underline;
}











.section-container button {
  width: 100%;
  height: 20px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
  border: none;
  background-color: white;
}




.course-button {
  width: 97%;
  height: 20px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
  border: none;
}

.section-container button:hover {
  cursor: pointer;
  font-weight: bold;
}



.button-active, .button-inactive {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
}

.button-inactive {
  background-color: white;
  box-shadow: 5px 5px;
}

.button-active {
  background-color: lightgrey;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.section-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.incomplete-section-container {
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
}


.save-button {
  width: 50%;
  height: 1%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px;
}

.save-button:active {
  transform: translate(2px, 2px);
  background-color: lightgrey;
}

.nav-line {
  margin-top: 20px;

}





