* {
  font-family: verdana;
  font-family: Georgia;
  font-family: 'Consolas', monospace;
  font-family: sans-serif;
  background-color: #2A2B32;
}



button:hover {
  cursor: pointer;
}




.home{
  text-align: center;
  
}

.header-container {
  border: 0.5px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 2%;
  margin: auto auto 0.5%;
  height: 50px;

  background-color: #2A2B32;
  color: whitesmoke;
}




.header-container h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}


.header-contents {
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
}

#beta {
  margin-top: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0.5px solid whitesmoke;
  padding: 5px;
  margin-left: 10px;
  transform: translateY(-10px);
}



.navigation-bar button{
  border: none;
  color: whitesmoke;
  align-items: center;
  margin-right: 20px;
}

.navigation-bar button:hover{
  opacity: 0.7;
}












.button-link, .button-link-active {
  margin: 80px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: bold;
}

.button-link-active {
  text-decoration: underline;
}





.section-container button {
  width: 100%;
  height: 20px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
  border: none;
  background-color: white;
}




.course-button {
  width: 97%;
  height: 20px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
  border: none;
}

.section-container button:hover {
  cursor: pointer;
  font-weight: bold;
}



.button-active, .button-inactive {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
}



.section-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.incomplete-section-container {
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
}



.navigation-bar {
  margin-left: 20px;
}










